.vs/config/applicationhost.config
*.suo
TypeSpec/app.js
*.map
TypeSpec/bin/TypeSpec.dll
*.pdb
TypeSpec/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cs
TypeSpec/obj/Debug/TypeSpec.csproj.FileListAbsolute.txt
*.cache
TypeSpec/obj/Debug/TypeSpec.dll
TypeSpec/Scripts/tsUnit/tsUnit.js
TypeSpec/Scripts/TypeSpec/TypeSpec.js
*.user
TypeSpec/web.config
TypeSpec/web.Debug.config
TypeSpec/web.Release.config
/packages
/TypeSpec/bin
/TypeSpec/obj/Release
*.js
*.dll
/TypeSpec.Examples/bin/TypeSpec.Examples.dll.config
/TypeSpec.Examples/obj/Debug
/TypeSpec.Examples/obj/Release
/TypeSpec.NodeExamples/node_modules/typespec-bdd
/TypeSpec.Packager/obj
*.bak
/TypeSpec.NodeExamples/obj/Debug/TypeSpec.NodeExamples.njsproj.FileListAbsolute.txt
*.dat
*.log
*.nupkg
