*.bak
*.cache
*.config
*.cs
*.d.ts
*.dat
*.dll
*.js
*.log
*.map
*.nupkg
*.out
*.pdb
*.suo
*.tgz
*.user
.vs
/packages
**/bin
**/obj
**/node_modules
/TypeSpec/dist
/TypeSpec/package-lock.json
/TypeSpec.Examples/package-lock.json
